{% extends "core_main_app/_render/admin/theme/tools/section.html" %}
{% load static %}

{% block section_title %}{{ data.object_name }} Manager{% endblock %}

{% block section_content %}
    <div class="row">
        <div class="col-md-12">
            {% block list_includes %}
                {% include 'core_explore_tree_app/admin/cache/cache_wrapper.html' %}
                {% include 'core_explore_tree_app/admin/cache/cache_info.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}