{% extends 'core_main_app/_render/admin/theme/tools/box.html' %}

{% block box_title %}Available{% endblock %}

{% block box_tools %}
    <a class="btn btn-default" style="margin-right: 10px;" href="{% url 'admin:core_explore_tree_app_download_blank' %}">
        <i class="fa fa-download"></i> Download blank ontology
    </a>
    <a href="{% url 'admin:core_explore_tree_app_upload'%}" class="float-right btn btn-default">
        <i class="fa fa-upload"></i> Upload {{ data.object_name }}
    </a>
{% endblock %}

{% block box_body %}
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th width="35%">{{ data.object_name }}</th>
        <th>Associated template</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for object in data.available %}
        <tr>
            <td>
                {{ object.title }}
            </td>
            <td>
                {{ object.template.display_name }}
            </td>
            <td>
                {% if object.status == data.status.active.value %}
                    Active
                {% else %}
                    Uploaded
                {% endif %}
            </td>
            <td>
                {% if object.status != data.status.active.value %}
                    <span class="icon legend activate" objectid="{{ object.id }}">
                        <a class="btn btn-success" href="#"><i class="fa fa-play"></i> Activate </a>
                    </span>
                {% endif %}
                {% url 'admin:core_explore_tree_app_edit' object.id as edit_url %}
                {% include 'core_main_app/common/buttons/edit.html' %}
                <a class="btn btn-default" href="{% url 'admin:core_explore_tree_app_download' pk=object.id %}">
                    <i class="fa fa-download"></i> Download
                </a>
                {% if object.status != data.status.active.value %}
                    <span class="icon legend disable" objectid="{{ object.id }}">
                        <a class="btn btn-warning" href="#"><i class="fa fa-trash"></i> Disable </a>
                    </span>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td class="empty" colspan="4">
                No {{ data.object_name }} uploaded.
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}